body {
    color: black;
    text-align: center;
}

html {
    display: table;
    margin: auto;
}

body {
    color: #0A5A8E;
    background-color: #C0D7FE;
    display: table-cell;
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #89B8F5;
}

.elemRow {
    width: 500px;
    margin: 20px auto;

    display: flex;
    justify-content: space-evenly; 
}

.field {
    display: inline-block;
}

.table {
    background-color: white;
}